*.js linguist-detectable=true
*.m linguist-detectable=false
*.h linguist-detectable=false
*.rb linguist-detectable=false
*.css linguist-detectable=false
*.bzl linguist-detectable=false
*.java linguist-detectable=false
example/* linguist-vendored
